---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the project">
    <div class="mx-auto text-center mb-8 lg:mb16">
        <h1>About the project</h1>

        <p>The SpaceX launches the project is a demo for the Astro Course</p>

    </div>
</Layout>